.mainInfo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 2px solid black;
  }

  .mainInfo > p {
    margin-right: 10px;
    margin-left: 10px;
  }

  .gitLogo {
    width: 20px;
    height: 20px;
  }

  .linkedinLogo {
    width: 20px;
    height: 20px;
  }