@font-face {
font-family: Montserrat-Regular;
src: url(./fonts/Montserrat-Regular.ttf)
}

* {
  font-family: Montserrat-Regular;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.buttonBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

}

.mainInfo > p {
  margin-right: 10px;
  margin-left: 10px;
}
